footer {
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.credits {
      font-family: 'Segoe UI', Tahoma, sans-serif;
  color: var(--white);
  text-align: center;
  width: 100%;
  font-size: 16px;
  padding-bottom: 40px;
}
