

#root {
  margin: 0 auto;

}

.App {
  font-family: NTR;
  background-color: var(--light-navy);
  display: flex;
  margin: auto;
}

#content {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}


.section-header {
  display: flex;
  padding-bottom: 42px;
  width: 100vw;
}

.section-header::after {
  content: "";
  display: block;
  width: 300px;
  margin-top: 39px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

a {
  text-decoration: none !important;
   color: var(--green-bright) !important;
}